{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
    // "project": "./tsconfig.json"
  },

  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    // "eslint-config-prettier",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "rules": {
    "react/self-closing-comp": [
      "warn",
      {
        "component": true,
        "html": true
      }
    ],
    "@typescript-eslint/explicit-function-return-type": "off"
  },
  "settings": {
    "react":{
      "version":"detect"
    }
  }
}
